<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/main1.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img style=" height: 15rem; margin-bottom:3rem;"
                    src="assets/img/logo-bordo.png" alt="">
                <h1 class="h1-seo" style="font-weight: bold;  font-size: 2.5em;">Ne Nerede Yenir?</h1>
                <h3 style="margin-top: 2rem;">Beykent Üniversitesi Bitirme Projesi</h3>
            </div>
            <h6 class="category category-absolute">Designed and coded by Oğuzhan, Muhammed, Atakan.</h6>
        </div>
    </div>
    <div class="main" style="background-image: url('assets/img/main3.jpg');">

        <div class="container main-div"  >
            <div class="row"  style="padding-top: 20rem; justify-content:center;">
                <div class="col-4  align-self-center" style="padding: 0; margin: 0;">

                    <input (focus)="ac()"  class="form-control" type="text"
                        style="font-size: 1rem; border: 0.20em solid #999999;background-color: rgb(0 , 0, 0,0.6); color: #FFFFFF;"
                        placeholder="Nerede?" [(ngModel)]="filterText">
                </div>
                <div class="col-2 align-self-center ">
                    <!-- [routerLink]="['/city/food']" -->
                    <button id="ne-yenir"  (click)="searchToCity()" type="button"
                        class="btn btn-primary btn-round">Ne Yenir?</button>
                </div>
            </div>
            <div id="search-result" *ngIf="isTouched" class="example" style="max-height: 15rem;">
                <div class="row justify-content-center" *ngFor="let city of cities | cityFilter: filterText">
                    <div class="col-4 align-self-center" (click) ="choseCity(city) "
                        style="overflow-x: auto; overflow-y: hidden; justify-content: start; cursor: pointer; border: 0.20em solid #999999 ; border-radius:1rem;  background-color: rgb(0 , 0, 0,0.6); color: #FFFFFF; ">
                        <span style=" font-size: 1.5em; margin:0.25rem; padding:0.25rem; " >{{city.cityName}}</span>
                    </div>
                    <div class="col-2 align-self-center"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="section section-signup" id="favorite" name="favorite"
    style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
    <div class="container login-page">
        
    </div> -->

    <router-outlet></router-outlet>
    <div id="ek-sayfa"></div>
</div>