<div class="wrapper">
    <div class="main" style="background-image: url('assets/img/bg4.jpg');">
        <div style="background-color: rgba(0, 0, 0, 0.6);">

        <div class="container">
            <div class=" main-div">
                <h1 style="padding-top: 15rem; font-size: 5em; color: white;">WUUTEC</h1>
                <h2 style="color: white; font-size: 3em; padding-top: 2rem;">Hakkımızda</h2>
                <pre style="color: white;  padding-top: 2rem; white-space: break-spaces;">
    Beykent Üniversitesi öğrencileri olan Atakan KALÇA, Necati Oğuzhan YUMURTACI ve Muhammed DURUŞ tarafından kurulan grubun adıdır. Wuutec, 2020 senesinin Kasım ayında oluşturulmuştur. Grubun amacı çalışmalarını ortak bir isim altında toplamak ve Android, IOS, Cross-platform, Web alanlarında freelance olarak hizmet sağlamaktır.
                    
                </pre>
                <div class="row" style="padding-top: 2rem;">
                    <div class="col-l">
                        <pre style="color: white;">   İletişim Bilgisi: </pre>
                    </div>
                    <div class="col">
                        <a href="mailto:wuutec@gmail.com" style="color: white; ">wuutec@gmail.com</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</div>