<div class="main">

    <div class="container" style="padding-top: 5rem; padding-bottom: 5rem;">

        <div *ngFor="let restaurant of restaurants">
            <div *ngIf="restaurant.restaurantID == choseRestaurantId" class="row"
                style="margin: 2rem;position: relative; padding-bottom: 3rem;">
                <div class="col-5"><img style="width: 20rem; " src="{{restaurant.imageUrl}}"> </div>
                <div class="col-7">
                    <div class="rest-title">
                        <h1>{{restaurant.restaurantName}}</h1>
                    </div>
                    <div class="rest-address">
                        <a href="http://maps.google.com/maps?q={{restaurant.restaurantAdress}}"
                            target="_blank">{{restaurant.restaurantAdress}}</a>
                    </div>
                    <div class="rest-phone">{{restaurant.restaurantGsm}}</div>
                </div>
                <div style="right: 0; position: absolute; bottom: 0;">
                    <button type="button" (click)="addReservationPopup(classic)"
                        class="btn btn-primary btn-round">Rezervasyon
                        Yap</button>

                </div>
            </div>
        </div>


    </div>



</div>

<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header" style="margin: auto;">
        <span class="modal-title text-center badge badge-neutral" style="font-size: 1.5rem;">Rezervasyon</span>
        <!-- <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <form #formReservation="ngForm" (ngSubmit)="addReservation()" class="form-gruop">

        <div class="modal-body">
            <div class="input-group">
                <div class="input-item">
                    <input #owner="ngModel" [(ngModel)]="modelReservation.owner" name="owner" type="text"
                        placeholder="Rezervasyon Sahibi" class="form-control" />
                </div>
            </div>
            <div class="input-group">
                <div class="input-item">
                    <input #ownerGsm [(ngModel)]="modelReservation.ownerGsm" name="ownerGsm" type="tel" value=""
                        maxlength="10" placeholder="Telefon Numarası" class="form-control" />
                </div>
            </div>
            <div class="input-group">
                <div class="input-item">
                    <input #date [(ngModel)]="modelReservation.date" name="date" type="date" value=""
                        placeholder="tarih" class="form-control" />
                </div>
            </div>
            <div class="input-group">
                <div class="input-item">
                    <input [(ngModel)]="modelReservation.time" name="time" type="time" value="" 
                        placeholder="zaman" class="form-control" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="left-side">
                <button type="button" class="btn btn-danger btn-link"
                    style="background-color: #222222; border-radius: 15px;" (click)="c('Close click')">Vazgeç</button>
            </div>
            <div class="divider"></div>
            <div class="right-side">
                <button type="submit" class="btn btn-success btn-link"
                    style="background-color: #222222; border-radius: 15px;">Onayla</button>
            </div>
        </div>
    </form>
</ng-template>