<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a href="" class="navbar-brand">ClientApp</a>
    <button class="navgar-toggler" data-toggle="collapse" data-target="#navbarToggler">
      <span class="navbar-toggle-icon"></span>
    </button>

    <div class="collpse navbar-collapse" id="navbarToggler">

    <ul class="navbar-nav mr-auto">
      <li class="navbar-nav">
        <a href="" class="nav-link active">Home</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link active">User</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link active">Food</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link active">City</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link active">Food</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link active">Restaurant</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link active">Reservation</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="navbar-nav">
        <a href="" class="nav-link active">Log In</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link active">Sign Up</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link active">Log Out</a>
      </li>
    </ul>

  </div>

  </div>
</div>
