<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="footer" data-background-color="black">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a>
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a>
                        About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}}, Designed And Coded by WuuTec.
        </div>
    </div>
</footer>