<div class="main">

    <div class="container" style="padding-top: 5rem;">
        <span class="badge badge-neutral" style="font-size: xx-large; padding-bottom: 2rem;">Favorilerim</span>

        <ul class="list-group-flush ul-scroll">
            <li class="list-group-item">
                <div class="row" style="margin: 1rem;position: relative;">
                    <div class="col" style="margin: auto;">
                        <span>Yemek Adı</span>
                    </div>
                    <div class="col-1">
                        <div>
                            <button type="button" class="btn btn-primary btn-round">Sil</button>
                        </div>
                    </div>

                </div>
            </li>
        </ul>

    </div>



</div>