<div class="main">

    <div class="container" style="padding-top: 5rem; padding-bottom: 5rem;">

        <ul class="list-group-flush">
            <li class="list-group-item">
                <div class="row" style="margin: 2rem;position: relative; padding-bottom: 3rem;">
                    <div class="col-5"><img style="width: 20rem; " src="assets/img/balik-ekmek.jpg"> </div>
                    <div class="col-7">
                        <div class="food-title">
                            <h1>Balık Ekmek</h1>
                        </div>
                        <div class="food-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae augue augue.
                                Etiam quis nunc mauris. Sed at auctor urna. Donec facilisis, odio nec pretium
                                varius, lectus odio venenatis nisi, eget elementum quam tortor a quam. Aliquam erat
                                volutpat. Integer felis tortor, aliquam ac interdum at, malesuada eu est.
                                Suspendisse magna ante, pharetra eu interdum sed, pretium sit amet tortor. Sed
                                pharetra libero eget nisi venenatis, at mollis est posuere. Nam et ipsum porta,
                                congue sem at, consectetur tortor. Nulla at semper magna. Proin ut sodales purus,
                                eget vestibulum mi.</p>
                        </div>
                    </div>
                    <div style="right: 0; position: absolute; bottom: 0;">
                        <button [routerLink]="['/city/restaurant']" type="button"
                            class="btn btn-primary btn-round">Restoranı Görüntüle</button>
                    </div>
                </div>

        </ul>

    </div>



</div>